<!--
  Generated template for the CreatemenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar hideBackButton  color="nav">
        <h1 id="logo" (click)="goHome()"> 
        <span id="chef" color="light">chef's</span><span id="menu" color="primary">menu</span><br/><em>createmenu</em></h1>
  
     
      <ion-buttons > <button ion-button icon-only (click)="presentPopover($event)" >  <ion-icon name="person"></ion-icon> </button> </ion-buttons>
    </ion-navbar>
  

</ion-header>


    <ion-content padding>
        <form [formGroup]="newMenuForm" (submit)="createMenu()" novalidate> 
         <ion-item>
        
          <ion-input formControlName="name" type="text" placeholder="Name" [class.invalid]="!newMenuForm.controls.name.valid && blur"> </ion-input>
          </ion-item> 

          <ion-item class="error-message"  *ngIf="!newMenuForm.controls.name.valid && newMenuForm.controls.name.dirty">  <p>* field is required<br/> minimum 4 characters long.</p>  </ion-item>
         <ion-item>
           <ion-label>Date of release</ion-label> 
           <ion-datetime displayFormat="D MMM, YY" pickerFormat="DD MMM YYYY" formControlName="date" max="2020-10-31" [class.invalid]="!newMenuForm.controls.date.valid && blur"> </ion-datetime> 

           </ion-item>  <ion-item class="error-message"  *ngIf="!newMenuForm.controls.date.valid && newMenuForm.controls.date.dirty">  <p>* please select the date</p>  </ion-item>

       
       </form> 
      <!--pick starter--> 
      <ion-list>
          <ion-list-header> Add starters to your menu: </ion-list-header>
          <ion-item *ngFor="let dish of dishList" (click)="addStarter(dish.dishname,dish.description,dish.dishalergens, dish.dishcalories)" [class.hide]="dish.dishtype=='main'|| dish.dishtype=='desert'">
          <h2> {{ dish.dishname }} </h2> <ion-icon name="add" item-end></ion-icon>
          </ion-item> 
      </ion-list> 


      <!--pick main--> 
      <ion-list>
          <ion-list-header> Add mains to your menu: </ion-list-header>
          <ion-item *ngFor="let dish of dishList" (click)="addMain(dish.dishname,dish.description,dish.dishalergens, dish.dishcalories)" [class.hide]="dish.dishtype=='starter'|| dish.dishtype=='desert'">
          <h2> {{ dish.dishname }} </h2> <ion-icon name="add" item-end></ion-icon>
          </ion-item> 
      </ion-list> 


        <!--pick dessert--> 
        <ion-list>
            <ion-list-header> Add desserts to your menu: </ion-list-header>
            <ion-item *ngFor="let dish of dishList" (click)="addDessert(dish.dishname,dish.description, dish.dishalergens, dish.dishcalories)" [class.hide]="dish.dishtype=='starter'|| dish.dishtype=='main'">
            <h2> {{ dish.dishname }} </h2> <ion-icon name="add" item-end></ion-icon>
            </ion-item> 
        </ion-list> 
    
 
        
         <button ion-button block (click)="createMenu()"  [disabled]="!newMenuForm.valid"> Create new menu </button>
      
 
         <h6>Added starters:</h6>
         <ion-item *ngFor="let starter of starters" (click)="removeStarter(starter.dishname)"> 
                <ion-icon name="trash" item-start></ion-icon> {{starter.dishname}}
            
          </ion-item>
          <h6>Added mains:</h6>
        <ion-item *ngFor="let main of mains" (click)="removeMain(main.dishname)"> 
                <ion-icon name="trash" item-start></ion-icon> {{main.dishname}}
             
        </ion-item>
        <h6>Added desserts:</h6>
          <ion-item *ngFor="let dessert of desserts" (click)="removeDessert(dessert.dishname)"> 
                <ion-icon name="trash" item-start></ion-icon> {{dessert.dishname}} <br/>
            
          </ion-item>
 

</ion-content>
