<!--
  Generated template for the ManagemenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar hideBackButton  color="nav">
        <h1 id="logo" (click)="goHome()"> 
        <span id="chef" color="light">chef's</span><span id="menu" color="primary">menu</span><br/><em>Manage menu</em></h1>
  
     
      <ion-buttons end> <button ion-button icon-only (click)="presentPopover($event)" >  <ion-icon name="person"></ion-icon> </button> </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content padding>

   <!--add starter--> 
   <ion-list>
      <ion-list-header> Add starters to your menu: </ion-list-header>
      <ion-item *ngFor="let dish of dishList" (click)="addStarter(dish.dishname,dish.description,dish.dishalergens, dish.dishcalories)" [class.hide]="dish.dishtype=='main'|| dish.dishtype=='desert'">
      <h2> {{ dish.dishname }} </h2> <ion-icon name="add" item-end></ion-icon>
      </ion-item> 
  </ion-list> 


  <!--add main--> 
  <ion-list>
      <ion-list-header> Add mains to your menu: </ion-list-header>
      <ion-item *ngFor="let dish of dishList" (click)="addMain(dish.dishname,dish.description,dish.dishalergens, dish.dishcalories)" [class.hide]="dish.dishtype=='starter'|| dish.dishtype=='desert'">
      <h2> {{ dish.dishname }} </h2> <ion-icon name="add" item-end></ion-icon>
      </ion-item> 
  </ion-list> 


    <!--add dessert--> 
    <ion-list>
        <ion-list-header> Add desserts to your menu: </ion-list-header>
        <ion-item *ngFor="let dish of dishList" (click)="addDessert(dish.dishname,dish.description,dish.dishalergens, dish.dishcalories)" [class.hide]="dish.dishtype=='starter'|| dish.dishtype=='main'">
        <h2> {{ dish.dishname }} </h2> <ion-icon name="add" item-end></ion-icon>
        </ion-item> 
    </ion-list> 

    
   
<ion-list> <ion-list-header> Added starters: </ion-list-header>
 
      <ion-item *ngFor="let starter of starters" (click)="removeStarter(starter.dishname)"> 
          <ion-icon name="trash" item-start></ion-icon>
          dishname:  {{starter.dishname}}
           
        </ion-item>
  </ion-list>


<ion-list> <ion-list-header> Added Mains: </ion-list-header> 
  <ion-item *ngFor="let main of mains" (click)="removeMain(main.dishname)"> 
      <ion-icon name="trash" item-start></ion-icon>
    
      dishname: {{main.dishname}}
    
</ion-item>

 </ion-list>


 <ion-list> <ion-list-header> Added Deserts: </ion-list-header>
  <ion-item *ngFor="let dessert of desserts" (click)="removeDessert(dessert.dishname)"> 
      <ion-icon name="trash" item-start></ion-icon>
    
      dishname: {{dessert.dishname}} 
  </ion-item>
</ion-list> 

<button ion-button block (click)="updateMenu()"> Update menu </button>

</ion-content>

