<!--
  Generated template for the ManagemenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>managemenu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-item> 
        <h6> Add starter to your menu </h6>
      <ion-searchbar (ionInput)="getItems($event)" placeholder="type dish" ></ion-searchbar>
      <ion-list inset>
       
      <button  clear ion-item *ngFor="let dish of dishList" (click)="addStarter(dish.dishname,dish.dishalergens)" [class.hide]="dish.dishtype=='main'|| dish.dishtype=='desert'" >
      <h2> {{ dish.dishname }} </h2> <ion-icon name="add" item-left></ion-icon> </button>
      </ion-list>
      </ion-item>
      <ion-item>
          <h6> Add main to your menu </h6>
      <ion-searchbar (ionInput)="getItems($event)" placeholder="type dish" ></ion-searchbar>
      <ion-list inset>
      <button  clear ion-item *ngFor="let dish of dishList" (click)="addMain(dish.dishname, dish.dishalergens)" [class.hide]="dish.dishtype=='starter'|| dish.dishtype=='desert'" >
      <h2> {{ dish.dishname }} </h2> <ion-icon name="add" item-left></ion-icon> </button>
      </ion-list>
      </ion-item>

      <ion-item>
          <h6> Add dessert to your menu </h6>
      <ion-searchbar (ionInput)="getItems($event)" placeholder="type dish" ></ion-searchbar>
      <ion-list inset>
      <button  clear ion-item *ngFor="let dish of dishList" (click)="addDessert(dish.dishname, dish.dishalergens)" [class.hide]="dish.dishtype=='main'|| dish.dishtype=='starter'" >
      <h2> {{ dish.dishname }} </h2> <ion-icon name="add" item-left></ion-icon> </button>
      </ion-list>

      </ion-item>
     
   
<ion-list> <ion-list-header> Starters: </ion-list-header>
 
      <ion-item *ngFor="let starter of starters"> 
        <button (click)="removeStarter(starter.dishname,starter.alergens)">
          dishname:  {{starter.dishname}}
           <br/> alergens: {{starter.alergens}}</button>
        </ion-item>
  </ion-list>


<ion-list> <ion-list-header> Mains: </ion-list-header> <ion-item *ngFor="let main of mains"> 
      dishname: {{main.dishname}}
    <br/>  alergens: {{main.alergens}}
</ion-item>

 </ion-list>


 <ion-list> <ion-list-header> Deserts: </ion-list-header>
  <ion-item *ngFor="let dessert of desserts"> 
      dishname: {{dessert.dishname}} <br/>
      alergens: {{dessert.alergens}} 
  </ion-item>
</ion-list> 

<button ion-button block (click)="updateMenu()"> Update menu </button>

</ion-content>

