<!--
  Generated template for the DishesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton  color="nav">
    <h1 id="logo" (click)="goHome()"> 
    <span id="chef" color="light">chef's</span><span id="menu" color="primary">menu</span><br/><em>Dishes</em></h1>

 
  <ion-buttons end> <button ion-button icon-only (click)="presentPopover($event)" >  <ion-icon name="person"></ion-icon> </button> </ion-buttons>
</ion-navbar>
</ion-header>


<ion-content padding>





<!--multlevel list showing dishes-->   

<!--starters--> 
<ion-list><ion-list-header  > Starter dishes </ion-list-header>
    <ion-item  *ngFor="let dish of dishList" text-wrap (click)="toggleLevel1('idx'+i)" [ngClass]="{active: isLevel1Shown('idx'+i)}" [class.hide]="dish.dishtype=='main'|| dish.dishtype=='desert'">
     <h4>{{dish.dishname}}
      <ion-icon color="success" item-right [name]="isLevel1Shown('idx'+i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon></h4> 
     
        <ion-list *ngIf="isLevel1Shown('idx'+i)">
             <ion-item>{{dish.recipe}}</ion-item>
             <ion-item  text-wrap (click)="toggleLevel2('idx'+i+'idx'+i2)" [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+i2)}">
               <h4> calories:
               <ion-icon color="success" item-right [name]="isLevel2Shown('idx'+i+'idx'+i2) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon></h4>
                <ion-list *ngIf="isLevel2Shown('idx'+i+'idx'+i2)">
               
              
                    
                   <ion-item >
                      <h4>energy value:</h4>  
                      {{dish.dishcalories[0].toFixed(2)}} kj
                      <h4>proteins:</h4> 
                      {{dish.dishcalories[1].toFixed(2)}} g
                      <h4>carbohydrates:</h4> 
                      {{dish.dishcalories[2].toFixed(2)}} g
                      <h4>fats:</h4> 
                      {{dish.dishcalories[3].toFixed(2)}} g
                      <h4>from that saturated:</h4>
                      {{dish.dishcalories[4].toFixed(2)}} g
                      <h4>sugar:</h4> 
                      {{dish.dishcalories[5].toFixed(2)}} g
                      <h4>saltr:</h4> 
                      {{dish.dishcalories[6].toFixed(2)}} g
                    
                    </ion-item>
                   
                 </ion-list>
               </ion-item> 
               <ion-item>
               <h4>{{dish.dishalergens}}</h4>
              </ion-item> 
              <p id="editLink" (click)="moreDishOptions(dish.id,dish.dishname,dish.recipe)">Click to edit</p>
           </ion-list>
          
    </ion-item>
  </ion-list> 

  <!--mains-->

  <ion-list><ion-list-header  > Main dishes </ion-list-header>
    <ion-item  *ngFor="let dish of dishList" text-wrap (click)="toggleLevel1('idx'+i)" [ngClass]="{active: isLevel1Shown('idx'+i)}" [class.hide]="dish.dishtype=='starter'|| dish.dishtype=='desert'">
     <h4>{{dish.dishname}}
      <ion-icon color="success" item-right [name]="isLevel1Shown('idx'+i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon></h4> 
     
        <ion-list *ngIf="isLevel1Shown('idx'+i)">
            <ion-item>{{dish.recipe}}</ion-item>
             <ion-item  text-wrap (click)="toggleLevel2('idx'+i+'idx'+i2)" [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+i2)}">
               <h4> calories:
               <ion-icon color="success" item-right [name]="isLevel2Shown('idx'+i+'idx'+i2) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon></h4>
                <ion-list *ngIf="isLevel2Shown('idx'+i+'idx'+i2)">
               
              
                    
                   <ion-item >
                      <h4>energy value:</h4>  
                      {{dish.dishcalories[0].toFixed(2)}} kj
                      <h4>proteins:</h4> 
                      {{dish.dishcalories[1].toFixed(2)}} g
                      <h4>carbohydrates:</h4> 
                      {{dish.dishcalories[2].toFixed(2)}} g
                      <h4>fats:</h4> 
                      {{dish.dishcalories[3].toFixed(2)}} g
                      <h4>from that saturated:</h4>
                      {{dish.dishcalories[4].toFixed(2)}} g
                      <h4>sugar:</h4> 
                      {{dish.dishcalories[5].toFixed(2)}} g
                      <h4>saltr:</h4> 
                      {{dish.dishcalories[6].toFixed(2)}} g
                    
                    </ion-item>
                   
                 </ion-list>
               </ion-item> 
               <ion-item>
               <h4>{{dish.dishalergens}}</h4>
              </ion-item> 
              <p id="editLink" (click)="moreDishOptions(dish.id,dish.dishname,dish.recipe)">Click to edit</p>
           </ion-list>
          
    </ion-item>
  </ion-list> 

  <!--desserts-->

  <ion-list><ion-list-header  > Dessert dishes </ion-list-header>
    <ion-item  *ngFor="let dish of dishList" text-wrap (click)="toggleLevel1('idx'+i)" [ngClass]="{active: isLevel1Shown('idx'+i)}" [class.hide]="dish.dishtype=='main'|| dish.dishtype=='starter'">
     <h4>{{dish.dishname}}
      <ion-icon color="success" item-right [name]="isLevel1Shown('idx'+i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon></h4> 
     
        <ion-list *ngIf="isLevel1Shown('idx'+i)">
            <ion-item>{{dish.recipe}}</ion-item>
             <ion-item  text-wrap (click)="toggleLevel2('idx'+i+'idx'+i2)" [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+i2)}">
               <h4> calories:
               <ion-icon color="success" item-right [name]="isLevel2Shown('idx'+i+'idx'+i2) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon></h4>
                <ion-list *ngIf="isLevel2Shown('idx'+i+'idx'+i2)">
               
              
                    
                   <ion-item >
                      <h4>energy value:</h4>  
                      {{dish.dishcalories[0].toFixed(2)}} kj
                      <h4>proteins:</h4> 
                      {{dish.dishcalories[1].toFixed(2)}} g
                      <h4>carbohydrates:</h4> 
                      {{dish.dishcalories[2].toFixed(2)}} g
                      <h4>fats:</h4> 
                      {{dish.dishcalories[3].toFixed(2)}} g
                      <h4>from that saturated:</h4>
                      {{dish.dishcalories[4].toFixed(2)}} g
                      <h4>sugar:</h4> 
                      {{dish.dishcalories[5].toFixed(2)}} g
                      <h4>saltr:</h4> 
                      {{dish.dishcalories[6].toFixed(2)}} g
                    
                    </ion-item>
                   
                 </ion-list>
               </ion-item> 
               <ion-item>
               <h4>{{dish.dishalergens}}</h4>
              </ion-item> 
              <p id="editLink" (click)="moreDishOptions(dish.id,dish.dishname,dish.recipe)">Click to edit</p>
           </ion-list>
          
    </ion-item>
  </ion-list> 
      




</ion-content>
 