page-menus {
    ion-content{background:url(../assets/imgs/menus3.jpg) center center; background-size:cover;}
    .item{background-color: rgba(0,0,0,.5); }
    #editLink{ text-decoration: underline; color:color($colors,pastel);}
    ion-list-header{ background: color($colors,pastel) !important;}

}
